@font-face {
  font-family: custom;
  src: url('../public/fonts/Anurati.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  user-select: none;
  cursor: url('../public/svg/cursor.svg') 4 4, auto;
  overflow-x: hidden;
}

.loader {
  z-index: 999999;
  animation: loaderanimate 1s 0.2s linear forwards;
}

.custom-icon {
  width: 250pt;
  height: 35pt;
  fill: none;
  stroke: #000000;
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: carve 5s infinite alternate;
}


.hero-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: monospace;
  width: 100%;
  scale: 1;
  z-index: 0;
  transform-style: preserve-3d;
}


.hero-buttons>* {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../public/hero2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  filter: blur(4px);
}

.tool {
  background-color: #181221;
  box-shadow: 0 0 120px 1px rgb(151, 21, 21);
  border-radius: 30%;
  padding: 5px;
  transition: 0.3s ease all;
  will-change: transform, filter;
  width: 100px;
}

.glass {
  border-radius: 10px;
  box-shadow: inset 0 0 2px 0 cyan;
  backdrop-filter: blur(10px);
}

.header {
  font-family: custom, sans-serif;
  font-size: 1.2em;
  width: 80vw;
  border-radius: 50px;
  z-index: 20;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.page {
  background-color: #06030f;
  max-width: 100vw;
  min-height: 100vh;
}

.card {
  font-family: monospace, Arial;
  font-size: 0.9em;
  min-height: 30vh;
  max-height: 40vh;
  box-shadow: inset 2px 2px 0 0 rgba(233, 7, 7, 0.7);
}

.sidebar {
  right: 5rem;
  top: 3.5rem;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  font-family: monospace;
  font-size: 1.3em;
  font-weight: 800;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.showDialog {
  opacity: 1;
  height: max-content;
}


.slider-container {
  background-color: #06030f;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
 position: relative;
  box-shadow: inset 0 0 30px 10px skyblue;
}
.slider-container:before{
  content: '';
  z-index: 2;
  position: absolute;
  height: 100%;
  background:transparent;
  left:0;
  box-shadow: 0 1px 150px 250px  rgba(6,3,15,1);
}


.slider-container:after{
  content: '';
  z-index: 2;
  position: absolute;
  height: 100%;
  background: transparent;
  right:0;
  background: linear-gradient(90deg,rgba(17,24,39,0.1),rgba(17,24,39,1));
  box-shadow: 0 1px 150px 250px  rgba(6,3,15,1);
}


.slider-container>h1 {
  font-weight: 800;
  font-family: custom2,sans-serif;
}

.slider {
  animation: slide 30s 5s infinite linear forwards;
}

.slider2 {
  animation: slide 30s 5s infinite linear reverse;
}

.slider:hover .tool:not(:hover) {
  filter: blur(2px);
}

.tool:hover{
  background: #181221;
}

.slider2:hover .tool:not(:hover) {
  filter: blur(2px);
}

.tool:hover {
  scale: 1.03;
}

.slider:has(:hover) {
  animation-play-state: paused;
}

.slider2:has(:hover) {
  animation-play-state: paused;
}


.project-card {
  height: 100%;
  transition: 0.3s ease transform;
}

.project-card:hover {
  transform: translateY(-10px);
}

.slider-container::-webkit-scrollbar {
  display: none;
}

@keyframes slide {
  to {
    transform: translateX(-146%);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out;
  will-change: transform, opacity;
}

.animate-fade-in {
  will-change: opacity;
  animation: fadeIn 2s ease-out;
}


@keyframes carve {
  0% {
    filter: blur(10px);
    stroke-dasharray: 10;
  }

  20% {
    filter: blur(0);

  }

  50% {
    stroke-dasharray: 150;
    fill: #00000000;
  }

  90% {
    stroke-dasharray: 300;
    fill: #000000;
  }

  100% {
    stroke-dasharray: 350;
    fill: #000000;
  }
}


@keyframes loaderanimate {

  from {
    top: 0;
  }

  to {
    top: -150%;
  }

}

@media screen and (min-width:360px) {
  @keyframes slide {
    to {
      transform: translateX(-378%);
    }
  }
}

@media screen and (min-width:380px) {
  @keyframes slide {
    to {
      transform: translateX(-365%);
    }
  }
}


@media screen and (min-width:410px) {
  @keyframes slide {
    to {
      transform: translateX(-358%);
    }
  }
}


@media screen and (min-width:420px) {
  @keyframes slide {
    to {
      transform: translateX(-352%);
    }
  }
}

@media screen and (min-width:600px) {
  @keyframes slide {
    to {
      transform: translateX(-312%);
    }
  }
}

@media screen and (min-width:720px) {
  @keyframes slide {
    to {
      transform: translateX(-183%);
    }
  }
}


@media screen and (min-width:760px) {
  @keyframes slide {
    to {
      transform: translateX(-180%);
    }
  }
}


@media screen and (min-width:800px) {
  @keyframes slide {
    to {
      transform: translateX(-176%);
    }
  }
}

@media screen and (min-width:820px) {
  @keyframes slide {
    to {
      transform: translateX(-173%);
    }
  }
}

@media screen and (min-width:1100px) {
  @keyframes slide {
    to {
      transform: translateX(-158%);
    }
  }
}

@media screen and (min-width:1200px) {
  @keyframes slide {
    to {
      transform: translateX(-154%);
    }
  }
}

@media screen and (min-width:1300px) {
  @keyframes slide {
    to {
      transform: translateX(-147%);
    }
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  background-color: #0f1420;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c91515;
}

/* Firefox scrollbar styles */
section.list {
  scrollbar-color: #bc0e0e rgb(202, 190, 255);
  scrollbar-width: thin;
}




.mouse-follower {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 300;
  pointer-events: none;
}


.mouse-follower * {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
}

.first {
  background-color: rgb(236, 101, 23);
  filter: blur(5px);
  opacity: 0.6;
  transition: transform 0.3s ease;
}

.second {
  border: 3px solid rgb(236, 101, 23);
  opacity: 0.7;
  transition: transform 0.25s ease;
}


.third {
  width: 20px;
  height: 20px;
  background-color: rgb(236, 101, 23);
  opacity: 0.8;
  transition: transform 0.2s ease;
  margin: 5px 5px;
}

.animate-waves {
  animation: wave infinite linear 1s;
}

@keyframes wave {
  0% {
    transform: scale(1.05);
    opacity: 1;
    filter: blur(0);
  }

  25% {
    transform: scale(1.1);
    opacity: 0.8;
    filter: blur(2px);
  }

  50% {
    transform: scale(1.15);
    opacity: 0.6;
    filter: blur(4px);
  }

  75% {
    transform: scale(1.2);
    opacity: 0.3;
    filter: blur(6px);
  }

  100% {
    transform: scale(1.25);
    opacity: 0.1;
    filter: blur(8px);
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  50% {
    opacity: 1;
    transform: scaleY(1);
  }


  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scroll-down {
  animation: scroll-down 2s infinite ease-in-out;
  transform-origin: top;
  height: 4rem;
  width: 2px;
  background-color: white;
}

.mini-loader {
  width: 30px;
  height: 25px;
  display: flex;
  gap: 5px;
}

.mini-loader>* {
  border-right: 5px solid #87e4df;
  border-radius: 2px;
  scale: 1 0.3;
  animation: infinite alternate-reverse mini-loader-animate 0.8s;
}


.mini-loader>:nth-child(1) {
  animation-delay: 0.2s;
}


.mini-loader>:nth-child(2) {
  animation-delay: 0.4s;
}

.mini-loader>:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes mini-loader-animate {

  to {
    scale: 1 0.8;
  }

}


@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}


.ultimate{
  z-index: 99999;
}